#timeApp {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-image:
            radial-gradient(ellipse at top left, rgba(29, 130, 255, 0.6), transparent 70%),
            radial-gradient(ellipse at bottom right, rgba(112, 29, 255, 0.6), transparent 70%);
}

#timeApp * {
    margin: 0;
}

#timeApp.active {
    display: flex;
}

#timeApp h1 {
    font-weight: 600;
    font-size: 3rem;
}

#timeApp h3 {
    font-weight: 300;
    font-size: 1.25rem;
}