#timeApp {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-image:
            radial-gradient(ellipse at top left, rgba(29, 130, 255, 0.6), transparent 70%),
            radial-gradient(ellipse at bottom right, rgba(112, 29, 255, 0.6), transparent 70%);
}

#timeApp * {
    margin: 0;
}

#timeApp.active {
    display: flex;
}

#timeApp h1 {
    font-weight: 600;
    font-size: 3rem;
}

#timeApp h3 {
    font-weight: 300;
    font-size: 1.25rem;
}

#weatherApp {
    background-image: var(--active-weather-background);
    padding-top: 3.5rem;
    padding-left: 1.5rem;
}

#weatherApp .flex {
    display: flex;
    gap: 1rem;
}

#weatherApp .flex .child {
    flex: 1;
}

#weatherApp .flex .child:first-child {
    padding-left: .5rem;
}

#weatherApp .flex .child:last-child {
    padding-right: .5rem;
}

#weatherApp h1 {
    margin: 0;
    font-size: 5rem;
    font-weight: 600;
}

#weatherApp h2 {
    margin: 0;
    /* margin-bottom: 1rem; */
    font-size: 1.8rem;
    font-weight: 500;
}

#weatherApp h3 {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
}

#weatherApp .flex .child:last-child h3 {
    background-image: var(--magic-theme);
    max-width: fit-content;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* margin-top: 1rem; */

    display: flex;
    align-items: center;
    gap: .5rem;
}

#weatherApp p {
    font-size: 1.1rem;
}

#weatherApp .forecast {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    height: 5rem;
    gap: 0.5rem;
    justify-content: space-between;
}

#weatherApp .forecast div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#weatherApp .forecast div span:first-child {
    font-weight: 600;
}

#weatherApp .forecast div span:last-child {
    font-weight: 300;
}

#settings {
    background-color: var(--theme-bg-1);
}

#settings.active {
    display: flex;
}

#settings .categories {
    flex: 1.25;
    box-sizing: border-box;
    padding: 0 .5rem;
    padding-top: 3.5rem;

    display: flex;
    flex-direction: column;
    gap: .5rem;
    z-index: 2;

    background-color: var(--theme-bg-2);
}

#settings .categories span {
    display: flex;
    align-items: center;
    gap: .8rem;
}

#settings .categories .category {
    font-size: 1.25rem;
    padding: .3rem .5rem;
    border-radius: .5rem;
    font-variation-settings: 'wght' 400;
    transition: font-variation-settings .3s, background-color 0.3s, color 0.3s;
}

#settings .categories .category span {
    font-size: 1.5rem;
}

#settings .categories .category.active {
    background-color: var(--active-bg-1);
    color: var(--active-fg-1);
    font-variation-settings: 'wght' 700;
}

#settings .content {
    flex: 3;
    background-color: var(--theme-bg-1);
    padding: 0 1rem;
    z-index: 1;
}

#settings .content .category {
    display: none;
}

#settings #spotifySettings .spotifyLoginAlert,
#settings #spotifySettings .spotifyDeviceAlert {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
    box-sizing: border-box;
    background-color: var(--theme-transparent);
    backdrop-filter: blur(.5rem);
    z-index: 5;
}

#settings #spotifySettings .spotifyDeviceAlert {
    z-index: 2;
}

.spotifyLoginAlert,
.spotifyDeviceAlert {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.spotifyLoginAlert.active,
.spotifyDeviceAlert.active {
    opacity: 1;
    pointer-events: initial;
}

#spotifyLoginQRCode {
    width: 15rem;
}

#settings #spotifySettings .qrBlur {
    position: absolute;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    background-color: var(--theme-transparent);

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.5s;
}

#settings #spotifySettings .qrBlur span {
    font-weight: 600;
    font-size: 1.5rem;

}

#settings #spotifySettings .qrBlur.active {
    opacity: 1;
    pointer-events: initial;
}

#settings #spotifySettings .qrBlur button {
    border-radius: .5rem;
    background-color: var(--theme-bg-2);
    color: var(--theme-fg-1);

    border: none;
    padding: 0.5rem .8rem;
}