#chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    padding-right: 1rem;
    gap: 1rem;
}

#chat p.bubble:first-child {
    margin-top: auto;
}

#chat p.bubble {
    background-color: var(--theme-bg-3);
    border-radius: 0.75rem;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
    transition: background-color 0.3s;
}

#chat p.bubble.own {
    background-color: var(--active-bg-1);
    color: var(--active-fg-1);
}